// VARIABLES
$hightlightColor: #688F4E;

.btn-group{
  justify-content: center;
  align-items: center;
}

.plant-shop-logo{
  color: #2D3740;
}

.card-widget-background{
  background-color: $hightlightColor;
}

.div-header-color{
  background-color: rgb(236, 242, 230);
  position: relative;
  top: -63px;
  z-index: -1;
}

.img-landing{
  position: relative;
  width: 36rem;
  right: 14rem;
  max-width: none;
}

.navbar-ul{
  z-index: 1000;
  background: white;
}

.header-default-color{
  background: #FDFDFD;
  position: relative;
  top: -63px;
  z-index: -1;
}

.landing-principal-text{
  padding-top: 10rem;
}

/* CATEGORIAS LANDING SECTION */
@mixin box-shadow-outset() {
  transition-duration: .3s;
  transition-property: box-shadow;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);

  &:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .6);;
  }
}

.all-products-section{
  background-color: #ECF2E6;
  height: 36rem;
  h2{
    width: 0rem;
    display: inline-block;
    position: relative;
    top: 14rem;
    left: 4rem;
  }
  #all-products-image{
    height: 35rem;
    position: relative;
    right: 2rem;
    top: 1rem;
  }

  @include box-shadow-outset();
}

.just-pottery-section{
  background-color: #EAEDF2;
  height: 17.5rem;
  h2{
    width: 0rem;
    display: inline-block;
    position: relative;
    top: 7.5rem;
    left: 6rem;
  }
  #just-pottery-image{
    height: 17rem;
    position: relative;
    right: 2rem;
    top: 0.5rem;
  }

  @include box-shadow-outset();
}

.just-plants-section{
  background-color: #F7EDEE;
  height: 17.5rem;
  h2{
    width: 0rem;
    display: inline-block;
    position: relative;
    top: 7.5rem;
    left: 6rem;
  }
  #just-plants-image{
    height: 16rem;
    position: relative;
    right: 3rem;
    top: 0.7rem;
  }

  @include box-shadow-outset();
}


// ITEM

.item-image{
  height: 20rem;
  width: 16rem;
}

.special-font-color{
  color: $hightlightColor;
}

.card-style{
  border: 1px solid lightgray;
  border-radius: 16px;
  padding: 1rem 0rem;
}


// FOOTER

#footer{
  background-color: #F9F9F9;
  p:nth-of-type(1){
    width: 27rem;
  }
}

// ITEM DETAIL

#show-product{
  border-top: 1px solid lightgray;
  img{
    width: 24rem;
  }
}

#item-count-btn-group{
  button{
    display: inline;
    padding: 0.5rem 1rem;
    color: $hightlightColor;
  }
  button:nth-of-type(1){
    border-left: 1px solid  $hightlightColor;
    border-bottom: 1px solid  $hightlightColor;
    border-top: 1px solid  $hightlightColor;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
  }
  button:nth-of-type(2){
    border-right: 1px solid  $hightlightColor;
    border-bottom: 1px solid  $hightlightColor;
    border-top: 1px solid  $hightlightColor;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
  }
  div{
    display: inline;
    border-bottom: 1px solid  $hightlightColor;
    border-top: 1px solid  $hightlightColor;
    padding: 0.59rem 1rem;
    color: $hightlightColor;
  }
}

#item-count-aditiona-buttons{
  button{
    background-color: $hightlightColor;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
  }
}